<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bbung.musicapi.domain.track.mapper.TrackMapper">

    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
        INSERT
        INTO track
        (title, play_time, exposure, orders, created_date)
        VALUES
        (#{title}, #{playTime}, #{exposure}, #{orders}, NOW())
    </insert>
    
</mapper>